*{
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}

#header{
    background-color: rgb(26, 26, 26);
    
    .wrap{
        max-width: 1328px;
        margin: 0px auto;
    
        #menu{
            
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin: 0px auto;
                width: 60%;
        
                li{
                    min-width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 75px;

                    a{
                        font-size: 1.7em;
                        color: rgb(176, 176, 176);
                        transition: all 300ms;
                        padding-top: 20%;
                        padding-bottom: 20%;
                        text-decoration: none;
                        font-weight: 300;

                        &:hover{
                            color: white;
                            transform: scale(1.05);  
                        }   
                    }

                    img{
                        width: 30%;
                        filter: invert(100%);
                    }
                }

                .menuSelected{
                    border-bottom: 5px solid #005572;
                    a{
                        transform: scale(1.08);
                        color: white;
                    }
                }
            }    
        }
    }
}






