*{
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}

#loan-create{
    margin-top: 5vh;
    margin-bottom: 5vh;
    .wrap{
        max-width: 1328px;
        margin: 0px auto;

        #form-layout{
            text-align: center;
            margin: 0px auto;
            width: 70%;
            border-radius: 3px;
            border: 1px solid #ccc;
            padding-bottom: 40px;
            background-color: rgb(247, 247, 247);

            h1{
                font-size: 3em;
                font-weight: 500;
                padding-top: 3%;
            }

            form{
                display: flex;
                flex-direction: column;
                padding-top: 3%;
                justify-content: center;
                width: 70%;
                margin: 0px auto;

                label{
                    text-align: start;
                    font-size: 1.7em;
                    color: rgb(116, 116, 116);
                    margin-bottom: 3px;
                }

                
                #input-name{
                    display: flex;
                    flex-direction: row;

                    input, select{
                        margin: 0px auto;
                        width: 65%;
                        height: 50px;
                        font-size: 1.7em;
                        margin-bottom: 30px;
                        border-radius: 3px;
                        padding-left: 5px;
                        border: 1px solid rgb(1, 1, 59);
                        color: black;
    
                        &::placeholder{        
                            color: #ccc;
                        }
    
    
                    }

                    select{
                        width: 30%;
                        height: 52px;
                        margin: 0px;

                        option{
                            font-size: 1.3em;
                        }
                    }

                    input{
                        margin-right: 0px;
                    }
                }

                mat-form-field{
                    width: 98%;
                    background-color: transparent;
                    align-items: center;
                    padding: 5px;          
                    margin: 0px auto;
                    background-color: white;
                    border: 1px solid rgb(1, 1, 59);
                    border-radius: 3px;  
                     
                    input{
                        font-size: 1.8em;
                    }
                }

                button{ 
                    width: 30%;
                    height: 60px;      
                    margin-top: 20px;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    font-weight: bold;
                    font-size: 1.7em;
                    transition: all 300ms;
                    background-color: #293462;  
    
                    &:hover{
                        transform: scale(1.08);
                    }
                }     
            }
        }     
    }
}