<section id="loan-create">
    <div class="wrap">
        <div id="form-layout">
            <h1>Solicitar préstamo</h1>
            <form (ngSubmit)="onSubmit()">
                
                <label>Ingresa la fecha</label>
                <mat-form-field >
                    <mat-label>Fecha de devolución</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div>
                    <button type="submit">Crear préstamo</button>
                </div>
            </form>
        </div>
    </div>
</section>


