<section id="book-view">
    <div class="container">

        <div class="book-info">
            <h1 id="name">{{book?.name}}</h1>
            <p id="isbn">ISBN: {{book?.isbn}}</p>       
            <p id="status">Estado: {{realbook?.status}}</p>
            <div id="info-date">
                <p id="initdate"> <span>Fecha de prestamo</span><br> {{loan.initDate}}</p>
                <p id="finaldate"> <span>Fecha de entrega</span><br> {{loan.finalDate}}</p>
            </div>

            <div class="buttoms-layout">
                <div id="newdate-layout">
                    <mat-form-field appearance="fill">
                        <mat-label>Nueva fecha de préstamo</mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <button class="buttom" (click)="editDate()">Aplazar entrega</button>
                </div>

                <div id="return-layout">
                    <button class="buttom" (click)="returnLoan()"> Devolver libro</button>
                </div>
            </div>        
        </div>
    </div>
</section>




