<section id="book-view">
    <div class="container">

        <div class="book-info">
            <h1 id="name">{{book?.name}}</h1>
            <p id="isbn">ISBN: {{book?.isbn}}</p>       
            <p id="status">Estado: {{realbook?.status}}</p>
            <div id="info-date">
                <p id="initdate"> <span>Fecha de prestamo</span><br> {{loan.initDate}}</p>
                <p id="finaldate"> <span>Fecha de entrega</span><br> {{loan.finalDate}}</p>
            </div>

            <div class="buttoms-layout">
                <form (ngSubmit)="editDate()">
                    <div id="newdate-layout">
                        <mat-form-field>
                            <mat-label>Nueva fecha de préstamo</mat-label>
                            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)" [(ngModel)]="event" id="input-date">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <button class="buttom" type="submit" id="button-update-date">Aplazar entrega</button>
                    </div>
                </form>

                <div id="return-layout">
                    <button class="buttom" (click)="returnLoan()" id="button-return-book"> Devolver libro</button>
                </div>
            </div>        
        </div>
    </div>
</section>




