<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Detalle de libro</title>
        <meta charset="utf-8">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/figures.css}">
    </head>


    <body>

        <header id="header">
            <section class="wrap" id="general-table">

                <h1>FOV</h1>

                <div class="bg">
                    <div class="book1">
                      <div class="ribbon1">
                      </div>
                      <div class="bookCut">
                      </div>
                    </div>
                     <div class="book2">
                       <div class="ribbonCut1"></div>
                       <div class="ribbonCut2"></div>
                       <div class="ribbonCut3"></div>
                     </div>
                    
                     <div class="book3">
                       <div class="ribbon3">
                      </div>
                      <div class="bookCut3">
                      </div>
                    </div>
                    <div class="book4">
                      <div class="ribbonCut4"></div>
                       <div class="ribbonCut5"></div>
                       <div class="ribbonCut6"></div>
                    </div>
                    <div class="book5"></div>
                    <div class="book6">
                      <div class="ribbon6">
                      </div>
                      <div class="bookCut6">
                      </div>
                    </div>
                    <div class="book7">
                      <div class="ribbonCut7"></div>
                       <div class="ribbonCut8"></div>
                       <div class="ribbonCut9"></div>
                    </div>
                  </div>

                <nav id="menu">
                    <ul>
                        <li><a href="/book/list">Listar libros</a></li>
                        <li><a href="/book/create">Crear libros</a></li>
                    </ul>
                </nav>

            </section>
        </header>

        
        <section id="general-infoB" class="wrap">

            <div id="contenedor">

                <h1 id="nombre" th:text="${book.name}"></h1>
                <h1 id="isbn" th:text="'ISBN ' + ${book.isbn}"></h1>
                <h1 id="autores" th:text="'Autores: ' + ${book.authors}"></h1>

                <form action="#" th:action="@{/book/edit/{id}(id=${book.id})}">
                    <button type="submit" id="Mod">Modificar Libro</button>
                </form>

                <form action="#" th:action="@{/book/delete/{id}(id=${book.id})}">
                    <button type="submit" id="Del">Borrar Libro</button>
                </form>

            </div>

        </section>



        

        <footer id="footer">
            <section class="wrap">
                <div id="contenido">
                    <p>Andrés Felipe Vásquez Rendón</p>
                    <p>Santiago Fernández Becerra</p>
                    <p>Fabian Andres Olarte Vargas</p>
                </div>
            </section>
        </footer>
    </body>
</html>