.book {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 18.5rem;
    height: 12.5rem;
    perspective: 70rem;
}

.cover {
    background-color: #171644;
    transform: rotateY(0deg);
    width: 9.25rem;
    height: 12.5rem;
}

.page {
    top: 0.25rem;
    left: 0.25rem;
    background-color: #dedede;
    transform: rotateY(0deg);
    width: 9rem;
    height: 12rem;
    text-align: right;
    font-size: 8px;
    color: #777;
    font-family: monospace;
}

.page::before,
.page::after {
    display: block;
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
    content: "";
    padding-bottom: 1rem;
}

.cover,
.page {
    position: absolute;
    padding: 1rem;
    transform-origin: 100% 0;
    border-radius: 5px 0 0 5px;
    box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
        0px 0px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.cover.turn {
    animation: bookCover 3s forwards;
}

.page.turn {
    animation: bookOpen 3s forwards;

}

.page:nth-of-type(1) {
    animation-delay: 0.05s;
}

.page:nth-of-type(2) {
    animation-delay: 0.33s
}

.page:nth-of-type(3) {
    animation-delay: 0.66s;
}

.page:nth-of-type(4) {
    animation: bookOpen150deg 3s forwards;
    animation-iteration-count: infinite;
    animation-delay: 0.99s;
}

.page:nth-of-type(5) {
    animation: bookOpen30deg 3s forwards;
    animation-iteration-count: infinite;
    animation-delay: 1.2s;
}

.page:nth-of-type(6) {
    animation: bookOpen55deg 3s forwards;
    animation-iteration-count: infinite;
    animation-delay: 1.25s;
}

@keyframes bookOpen {
    30% {
        z-index: 999
    }

    100% {
        transform: rotateY(180deg);
        z-index: 999;
    }
}

@keyframes bookCover {
    30% {
        z-index: 999
    }

    100% {
        transform: rotateY(180deg);
        z-index: 1;
    }
}

@keyframes bookOpen150deg {
    30% {
        z-index: 999
    }

    100% {
        transform: rotateY(150deg);
        z-index: 999;
    }
}

@keyframes bookOpen55deg {
    30% {
        z-index: 999
    }

    100% {
        transform: rotateY(55deg);
        z-index: 999;
    }
}

@keyframes bookOpen30deg {
    50% {
        z-index: 999
    }

    100% {
        transform: rotateY(30deg);
        z-index: 999;
    }
}

.bg{
    height: 100px;
    width: 100px;
    transform: scale(0.22);
    position: absolute;
    left: 20px;
    top: 0px;
    padding: 0px;
    margin-top: 0px;
 

    margin: -8px;
  }
  
  .book1{
    position: relative;
    height:30px;
    width:140px;
    border: 5px solid #942343;
    margin-left:42vw;
    border-radius: 10px 0 0 10px;
    border-right-style: none;
    background: #fffff0;  
  }
  
  .bookCut{ 
    background: #a0d8ef;
    margin: 0 0 0 97%;
    width: 5px;
    height: 30px;
  }
  
  .ribbon1{
    height:25px;
    width:20px;
    background: #ff785b;
    position: absolute;
    margin: 12px 0 0 10px;
  }
  
  .book2{
    position: relative;
    height:40px;
    width:120px;
    margin-left:43vw;
    background: #a688bd;  
  }
  
  .ribbonCut1{
    position: absolute;
    margin: 5px 0 0 2px;
    border-left: 0px solid #ff785b;
    border-right: 10px solid transparent;
    border-top: 12px solid #ff785b;
  }
  
  .ribbonCut2{
    position: absolute;
    margin: 5px 0 0 12px;
    border-left: 10px solid transparent;
      border-right: 0px solid #ff785b;
      border-top: 12px solid #ff785b;
  }
  
  .ribbonCut3{
    position: absolute;
    margin: 0 0 0 2px;
    height: 5px;
    width: 20px;
    background: #ff785b;
  }
  
  .book2:before,
  .book2:after{
    content: "";
    position: absolute;
  }
  
  .book2:before{
    height: 40px;
    width: 60px;
    left: 10px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
  }
  
  .book2:after{
    background: white;
    margin: 5% 0 0 39%;
    width: 30px;
    height: 20px;
  }
  
  .book3{
    position: relative;
    height:30px;
    width:140px;
    border: 5px solid #004d25;
    margin-left:43vw;
    border-radius: 0 10px 10px 0;
    border-left-style: none;
    background: #fffff0;
    
  }
  
  .bookCut3{ 
    background: #a0d8ef;
    width: 5px;
    height: 30px;
  }
  
  .ribbon3{
    height:25px;
    width:20px;
    position: absolute;
    background: #a4d5bd;
    margin: 10px 0 0 100px;
  }
  
  .book4{
    position: relative;
    height:35px;
    width:160px;
    margin-left:41vw;
    background: #ed6d35;  
  }
  
  .book4:before,
  .book4:after{
    position: absolute;
    content: "";
  }
  
  .book4:before{
    height: 35px;
    width: 98px;
    left: 10px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
  }
  
  .book4:after{
     background: white;
    margin: 4% 0 0 37%;
    width: 40px;
    height: 20px;
  }
  
  .ribbonCut4{
    position: absolute;
    margin: 5px 0 0 127px;
    border-left: 0px solid #a4d5bd;
      border-right: 10px solid transparent;
      border-top: 12px solid #a4d5bd;
  }
  
  .ribbonCut5{
    position: absolute;
    margin: 5px 0 0 137px;
    border-left: 10px solid transparent;
      border-right: 0px solid #a4d5bd;
      border-top: 12px solid #a4d5bd;
  }
  
  .ribbonCut6{
    position: absolute;
    margin: 0 0 0 127px;
    height: 5px;
    width: 20px;
    background: #a4d5bd;
  }
  
  .book5{
    position: relative;
    height:40px;
    width:145px;
    margin-left:41.5vw;
    background: #0073a8;  
  }
  
  .book5:before,
  .book5:after{
    position: absolute;
    content: '';
  }
  
  .book5:before{
    height: 40px;
    width: 80px;
    left: 12px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
  }
  
  .book5:after{
     background: white;
    margin: 5% 0 0 39%;
    width: 30px;
    height: 20px;
  }
  
  .book6{
    position: relative;
    height:30px;
    width:165px;
    border: 5px solid #622d18;
    margin-left:40.5vw;
    border-radius: 0 10px 10px 0;
    border-left-style: none;
    background: #fffff0;
    
  }
  
  
  .bookCut6{ 
    background: #a0d8ef;
    width: 5px;
    height: 30px;
  }
  
  .ribbon6{
    height:25px;
    width:20px;
    position: absolute;
    background: #a4d5bd;
    margin: 14px 0 0 105px;
  }
  
  .book7{
    position: relative;
    height:40px;
    width:200px;
    margin-left:39vw;
    margin-bottom: 3px;
    background: #fcc800;  
  }
  
  .book7:before,
  .book7:after{
    position: absolute;
    content: "";
  }
  
  .book7:before{
    height: 40px;
    width: 98px;
    left: 10px;
    border-left: 20px double #fff;
  }
  
  .book7:after{
     background: white;
    margin: 4% 0 0 82%;
    width: 22px;
    height: 22px;
    border-radius: 12px;
  }
  
  .ribbonCut7{
    position: absolute;
    margin: 5px 0 0 125px;
    border-left: 0px solid #a4d5bd;
      border-right: 10px solid transparent;
      border-top: 12px solid #a4d5bd;
  }
  
  .ribbonCut8{
    position: absolute;
    margin: 5px 0 0 135px;
    border-left: 10px solid transparent;
      border-right: 0px solid #a4d5bd;
      border-top: 12px solid #a4d5bd;
  }
  
  .ribbonCut9{
    position: absolute;
    margin: 0 0 0 125px;
    height: 5px;
    width: 20px;
    background: #a4d5bd;
  }