<section id="author-edit">
    <div class="layout-author">
        <h1>Modificar Autores</h1>
        <ul *ngIf="authors">
            <li *ngFor="let author of authors; let i = index">
                <div id="input-layout">
                    <label>Ingrese el nombre autor</label>
                    <input type="text" placeholder="Nombre del autor" value="{{author.name}}" disabled>
                    <button id="delete-buttom" (click)="unlinkAuthor(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>


        <form id="add-author-form" class="form-visibility" (ngSubmit)="onSubmit()">
            <label>Ingrese el nombre del nuevo autor</label>
                <div id="input-layout">
                    <select name="authors-names" id="authors-names" *ngIf="allAuthors" [(ngModel)]="selectedAuthor" (change)="dropboxClick()">
                        <option value=""></option>
                        <option [ngValue]="author" *ngFor="let author of allAuthors">{{author.name}}</option>
                    </select>
                    <input type="text" placeholder="Nombre del autor" name="name" [(ngModel)]="inputName" [disabled]="isDisabled">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </div>
        </form>


        <div id="add-author-icon" class="author-visibility">
            <svg (click)="changeVisibility()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            <h3>Agregar un autor</h3>
        </div> 
        
    </div>
</section>

