<section id="create-book">
    <div class="wrap">
        <div id="form-layout">
            <h1>Creando nuevo libro</h1>
            <p>Antes de poder crear el libro debes llenar los siguientes campos con la información solicitada.</p>
            <form (ngSubmit)="onSubmit()">
                <label>Ingresa el nombre del libro</label>
                <input type="text" name="name" id="name" [(ngModel)]="book.name">
                <label>Ingresa el ISBN del libro</label>
                <input type="text" name="isbn" id="isbn" [(ngModel)]="book.isbn">
                <div id="button-layout">
                    <button type="submit" id="button-create-book">Crear Libro</button>
                </div>
            </form>
        </div>
    </div>
</section>
