@import '../../../styles.scss';

#create-book{
    margin-top: 120px;
    .wrap{
        position: relative;
        #form-layout{
            position: absolute;
            text-align: center;
            margin: 0px auto;
            width: 40%;
            border: 1px solid rgb(31, 31, 31);
            border-radius: 15px;
            position: relative;
            padding: 35px 0px;
 
            h1{
                color: $font-color-primary;
                font-size: 3.5em;
                font-weight: 700;
            }

            p{
                color: $font-color-secunday;
                font-size: 1.7em;
                font-weight: 200;
                width: 80%;
                margin: 0px auto;
            }

            form{
                display: flex;
                flex-direction: column;
                width: 70%;
                margin: 8% auto;
                padding-bottom: 50px;

                label{          
                    font-size: 1.6em;
                    text-align: start;
                    padding-bottom: 1%;
                    color: $font-color-secunday;
                    font-weight: 100;
                }
                
                input{
                    width: 100%;
                    height: 60px;
                    font-size: 1.9em;
                    border-radius: 10px;
                    padding-left: 5px;
                    border: 1px solid rgb(53, 53, 53);
                    background-color: rgb(22, 22, 22);
                    color: $font-color-primary;
                    margin-bottom: 6%;
                } 


                button{ 
                    position: absolute;
                    bottom: 3%;
                    right: 5%;
                    width: 120px;
                    height: 50px;      
                    border: none;
                    border-radius: 5px;
                    color: white;
                    font-weight: 500;
                    font-size: 1.7em;
                    transition: all 300ms;
                    background-color: $secundary-color;  
    
                    &:hover{
                        transform: scale(1.08);
                        cursor: pointer;
                    }
                } 
            }
        }
    }
}