<section id="home">
    <div id="filter-background">
        <div class="wrap">
            <div class="container">
                <div id="title-layout">
                    <h1>Bienvenido a la libreria FOV</h1>
                    <h2>{{uname}}</h2>
                    <h3>Explora nuestro catalogo de libros</h3>
                </div>
    
                <div id="options-layout">
                    <a [routerLink]="['/book/list']">Ir a la lista de libros</a> 
                </div>
            </div>
        </div>
    </div>
</section>
