@import '../../../styles.scss';

#create-copy{
    width: 100%;
    height: 100%;
 
    #form-layout{  
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1{
            color: $font-color-primary;
            font-size: 4em;
            font-weight: 500;
            margin-top: 15%;
        }

        p{
            color: $font-color-primary;
            font-size: 1.7em;
            text-align: justify;
            font-weight: 200;
            margin-top: 2%;
        }

        form{
            width: 90%;
            height: 100%;
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-self: center;
            position: relative;
    
            label{
                text-align: start;
                font-size: 1.7em;
                color: $font-color-secunday;
                margin-bottom: 5px;
                font-weight: 100;
            }

            select{
                width: 100%;
                height: 50px;
                font-size: 1.8em;
                background-color: transparent;
                margin-bottom: 15px;
                border-radius: 3px;
                padding-right: 5px;
                border: 1px solid rgb(110, 110, 110);
                color: $font-color-primary;

                option{
                    color: $font-color-secunday;
                    background-color: $black-color;
                    font-size: 0.85em;
                }
            }

            mat-form-field{
                width: 98%;
                background-color: transparent;
                padding: 10px 5px 15px 5px;           
                border: 1px solid rgb(110, 110, 110);
                border-radius: 3px;  
                color: #fff;

                mat-label{
                    color: $font-color-secunday;
                    font-size: 1.4em;
                    font-weight: 100; 
                }
        
                input{
                    padding: 5px 0px;
                    color: $font-color-primary;
                    font-size: 1.7em;        
                }

                .mat-hint{   
                    font-size: 1.1em;
                    font-weight: 200;
                    color: $font-color-secunday;
                }

                mat-datepicker-toggle{
                    transform: scale(2);
                    color: $font-color-primary;
                }
            }

            #button-copy-create{ 
                width: 150px;
                height: 60px;      
                border: none;
                border-radius: 10px;
                color: white;
                font-weight: 500;
                font-size: 1.9em;
                transition: all 300ms;
                background-color: $secundary-color;  
                position: absolute;
                bottom: 7%;
                right: -5%;

                &:hover{
                    cursor: pointer;
                    transform: scale(1.08);
                }
            }     
        }
    }
}