/* You can add global styles to this file, and also import other style files */

$black-color: #101010;
$secundary-color: #25413d;
$font-color-primary: #fff;
$font-color-secunday: #b1b1b1;
$border-color-primary: rgb(141, 141, 141);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-decoration: none;
}

body{
    background-color: $black-color;
}



.wrap{
    max-width: 1328px;
    margin: 0px auto;
}



